body{
  font-family: 'Open Sans', sans-serif;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-title{
  color: #181818;
  font-size: 45px;
  font-weight: 800;
  
}
.text-primary{
  color: #FD6E0A;
}
.btn-primary{
 background-color: #FD6E0A;
 border-radius: 5px;
 padding: 15px 35px;
 font-size: 20px;
 color: white;
 font-weight: 700;border: 0;
}
nav > ul{
  display: flex;
  align-items: center;
}
nav li{
  list-style: none;
  margin-right: 50px;
}
nav a{
  text-decoration: none;
  color: #474747;
}